<h1>Welcome to Lunch<b style="color: #5bc0dc">Meet</b></h1>
<p>Have lunch with someone new today!</p>

<h3>1. <a  class="members" href='/users/new'>Sign Up</a></h3>
<h3>2. Text (832)742-1825 with your request and we'll find you a lunch or happy hour friend.</a></h3>
<p>ex. "I want to go to LUNCH on TUESDAY" or "I want to get a DRINK TODAY"</p>
<br>
<br>
<p>Powered by Twillio v.<%= @twilio_version %></p>